<link rel="import" href="../polymer/polymer.html" />
<link rel="import" href="../app-layout/app-grid/app-grid-style.html" />
<link rel="import" href="../paper-button/paper-button.html" />
<link rel="import" href="../paper-card/paper-card.html" />
<link rel="import" href="../iron-icon/iron-icon.html" />
<link rel="import" href="../paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html" />
<link rel="import" href="../polymerfire/firebase-document.html" />

<dom-module id="you-chews-master">
    <template>
        <style include="app-grid-style">
            :host { --app-grid-columns: 1; --app-grid-item-height: 20%; --app-grid-gutter: 16px; }
            paper-button { width: 100%;}
          
        </style>
        <firebase-document path="/Food/places"
                           data="{{foodplaces}}">
        </firebase-document>
        <div class="app-grid">
            <paper-card heading="{{food}}">
                <div class="card-content">
                    <div></div>
                </div>
            </paper-card>

            <paper-button style="background-color:#f7ffaf; color:black" on-click="randomizeFood">Click</paper-button>
        </div>
    </template>
    <script>
        Polymer({
            is: "you-chews-master",
            properties: {
                foodplaces: { type: Array, notify: true, observer: "limitplaces" },
                food:{ type: Array, notify: true}
            },
            limitplaces: function (foodplaces) {
                this.set("foodplaces", foodplaces)
                for (var i = 0; i < foodplaces.length; i++) {
                    this.set("food", Math.floor(Math.random() * foodplaces.length))
                }
            },
            randomizeFood: function () {
                for (var i = 0; i < this.foodplaces.length; i++) {
                    this.set("food", Math.floor(Math.random() * this.foodplaces.length));
                }
            }
           
        })
    </script>
</dom-module>