<link rel="import" href="../polymer/polymer.html" />
<link rel="import" href="../paper-input/paper-input.html" />
<link rel="import" href="../app-layout/app-grid/app-grid-style.html" />
<link rel="import" href="../paper-button/paper-button.html" />
<link rel="import" href="../paper-card/paper-card.html" />
<link rel="import" href="../polymerfire/firebase-app.html" />
<link rel="import" href="../polymerfire/firebase-document.html" />
<dom-module id="you-chews-admin">
    <template>
        <style include="app-grid-style">
            :host { --app-grid-columns: 1; --app-grid-item-height: 200px; --app-grid-gutter: 16px;}
        </style>
        <div class="app-grid">
         <paper-card style="justify-content:center">
            <paper-input value="{{places}}" label="Places"></paper-input>
         </paper-card>
            <paper-button on-click="addFoodTypes">Click</paper-button>
        </div>
        <firebase-app 
            auth-domain="youchews-2fdb0.firebaseapp.com"
            database-url="https://youchews-2fdb0.firebaseio.com/"
            api-key="AIzaSyBJYwknXzvZA3JuMv2Of0fPoNsNN9h-HMY">
        </firebase-app>
        <firebase-document
            path="/Food/places"
            data="{{foods}}">
        </firebase-document>
    </template>
    <script>
        Polymer({
            is: "you-chews-admin",
            addFoodTypes: function () {
                this.push("foods", {"places": this.places })
                console.log(this.foods)
            }
        })
    </script>
</dom-module>